<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mcd_CPC.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{145,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,136}}</string>
        <key>sourceSize</key>
        <string>{145,136}</string>
      </dict>
      <key>mcd_M.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,2},{134,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,150}}</string>
        <key>sourceSize</key>
        <string>{134,150}</string>
      </dict>
      <key>mcd_CD.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,142},{96,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,119}}</string>
        <key>sourceSize</key>
        <string>{96,119}</string>
      </dict>
      <key>mcd_BR.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,156},{107,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,88}}</string>
        <key>sourceSize</key>
        <string>{107,88}</string>
      </dict>
      <key>mcd_ICE.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,156},{62,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,116}}</string>
        <key>sourceSize</key>
        <string>{62,116}</string>
      </dict>
      <key>mcd_FF.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,265},{80,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,101}}</string>
        <key>sourceSize</key>
        <string>{80,101}</string>
      </dict>
      <key>mcd_PIE.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,265},{76,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,98}}</string>
        <key>sourceSize</key>
        <string>{76,98}</string>
      </dict>
      <key>mcd_CR.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,276},{102,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,56}}</string>
        <key>sourceSize</key>
        <string>{102,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>BlackStickers.png</string>
      <key>size</key>
      <string>{287,368}</string>
      <key>textureFileName</key>
      <string>BlackStickers</string>
    </dict>
  </dict>
</plist>
