<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mcd_M.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{269,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,335}}</string>
        <key>sourceSize</key>
        <string>{269,335}</string>
      </dict>
      <key>mcd_FF.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,2},{140,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,195}}</string>
        <key>sourceSize</key>
        <string>{140,195}</string>
      </dict>
      <key>mcd_CD.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,201},{114,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,197}}</string>
        <key>sourceSize</key>
        <string>{114,197}</string>
      </dict>
      <key>mcd_CPC.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,201},{145,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,136}}</string>
        <key>sourceSize</key>
        <string>{145,136}</string>
      </dict>
      <key>mcd_BR.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,2},{150,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,124}}</string>
        <key>sourceSize</key>
        <string>{150,124}</string>
      </dict>
      <key>mcd_ICE.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,341},{95,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,178}}</string>
        <key>sourceSize</key>
        <string>{95,178}</string>
      </dict>
      <key>mcd_PIE.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,341},{111,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,142}}</string>
        <key>sourceSize</key>
        <string>{111,142}</string>
      </dict>
      <key>mcd_CR.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,341},{154,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,84}}</string>
        <key>sourceSize</key>
        <string>{154,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>ColoredStickers.png</string>
      <key>size</key>
      <string>{545,497}</string>
      <key>textureFileName</key>
      <string>ColoredStickers</string>
    </dict>
  </dict>
</plist>
